.landing-page {
  font-family: Inter, sans-serif;
}

.landing-page h1 {
  font-size: 50px;
  color: #f8f8f8;
}

.landing-page p {
  font-size: 24px;
  color: #999;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-text p b {
  color: #9785E5;
  color: #6C56CC;
}

.hero-text {
  /* svg background image credit: https://www.svgbackgrounds.com/ */
  background-image: url('./endless-constellation.svg');
}
