.note-container {
  padding-right: 0;
  color: #999999;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 600px;
  gap: 2%;
  padding: 0 40px;
}

@media (min-width:800px) {
  .note-container {
    flex-direction: row;
    justify-content: center;
  }
}
