.note-sidebar-container {
  background-color: #161616;
  flex-basis: 20%;
}

@media (min-width: 800px) {
  .note-sidebar-container {
    padding: 0;
    flex-basis: 10%;
  }
}

.note-sidebar-container .note-link {
  padding-top: 3px;
  padding-left: 1rem;
}
.note-sidebar-container .note-link:nth-child(2) {
  padding-top: 5px;
}

.note-link:hover {
  cursor: pointer;
  color: #6C56CC;
}

.note-top-link:hover {
  cursor: pointer;
  color: #6C56CC;
}

.folder-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}
.folder-link input{
  font-size: 1rem;
  background-color: #161616;
  color: #999999;
  border: none;
  flex: 1 1 auto;
  cursor: default;
}
.folder-link input.active{
  color: white; /*#6C56CC*/
  background-color: #202020;
}
.folder-link input:hover{
  cursor: default;
}
.folder-link i.fa-trash-alt {
  cursor: pointer;
}
.folder-link i.fa-trash-alt:hover {
  cursor: pointer;
  color: red;
}

.note-sidebar-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  color: #999999;
  background-color: #161616;
  font-size: 20px;
}

.note-sidebar-controls i:hover {
  color: #6C56CC;
  cursor: pointer;
}
